body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

h1 {
    color: #fff;
}

#timer {
    font-size: 24px;
    color: #6693F5;
    background-color: rgba(255, 255, 255, 0.1); 
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

table {
    margin: auto;
    border-collapse: collapse;
}

td {
    border: 1px solid #fff;
    width: 100px;
    height: 100px;
    background-color: #333;
    position: relative;
}

select {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    display: block;
    color: #000;
}

button {
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px;
}

button:hover {
    background-color: #777;
}

#result {
    font-size: 18px;
    color: #fff;
    margin-top: 20px;
}

@keyframes correct-solution {
    0% { opacity: 1; transform: scale(1); }
    50% { opacity: 0.5; transform: scale(1.2); }
    100% { opacity: 1; transform: scale(1); }
}

#result.correct {
    animation: correct-solution 1s;
}

@media (max-width: 768px) {
    #header {
      flex-direction: column;
    }
  
    table {
      width: 90%;
    }
  
    td {
      width: 60px;
      height: 60px;
    }
  
    select {
      font-size: 2vw;
    }
  
    button {
      font-size: 4vw;
      padding: 2vw;
    }
    
    #timer {
      font-size: 4vw;
    }
    
    h1 {
      font-size: 5vw;
    }
}
